# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.venv/
eslint.config.json
.prettierrc
vite.config.js
CSV_files_of_plants/
node_modules
server/assets
server/music
server/uploads
server/.env
go.mod
go.sum
client/README.md
convert_xls_to_csv.py